:root {
  --white: #ffffff;
  --gray: #000000;
  --black: #000000;
  --primary-color: #6709ff;
  --secondary-color: #6709ff;
  --dark-secondary-color: #6709ff;
  --tertiary-color: #6709ff;
  --light-tertiary-color: #f3f6fb;
  --text-color: #ffffff;

  --font-family: 'DM Sans', sans-serif;
}